<div class="header animate__animated animate__fadeIn">
  <div class="section">
    <span class="title">Zoom Clone</span>
  </div>
  <div class="section">
    <ul class="list_menu">
      <li class="btn_menu uil uil-estate"></li>
      <li class="btn_menu uil uil-share"></li>      
      <li class="btn_menu uil uil-github"></li>
    </ul>
  </div>
  <div class="section">
    <div class="wrapper_avatar">
      <img src="https://avatars.githubusercontent.com/u/49459233?v=4" alt="avatar">
    </div>
  </div>
</div>
<div class="wrapper_body animate__animated animate__fadeIn" (click)="goToRoom()">
  <div class="block" >
    <div class="btn_block">
      <i class="uil uil-video"></i>      
    </div>
    <div class="label_title">Nueva reunion</div>
  </div>
</div>
