:host {
  display: block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #f2f2f5;

  .section {
    // background-color: red;
  }
}

.list_menu {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: -3rem;
  padding: 0;

  .btn_menu {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.5rem 1rem;
  }
  .uil {
    color: #575764;
    font-size: 1.5rem;
  }
}
.title {
  padding: 0 1rem;
  font-weight: 500;
}

.wrapper_avatar {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 1rem;
  img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    object-fit: cover;
  }
}

.wrapper_body {
  display: flex;
  justify-content: center;
  // width: 100%;
  min-height: 20rem;
  padding: 2rem;

  .label_title{
    text-align: center;
    font-weight: 500;
    padding: 0.5rem;
  }
  .block {
    .btn_block {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-color: tomato;
      box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.005),
        0px 4px 80px rgba(0, 0, 0, 0.01);
      border: solid 3px rgb(255, 255, 255, 59%);
      border-radius: 0.5rem;
      width: 10rem;
      height: 10rem;
      color: white;
      font-size: 5rem;

      &:hover{
        opacity: .45;
        transition: all ease 300ms;
      }
    }
  }
}
